* {
    --color-1: #244855;
    --color-1-darker: #1e2f35;
    --color-2: #E64833;
    --color-3: #873F41;
    --color-3-darker: #442a2b;
    --color-4: #90AEAD;
    --color-5: #FBE9D0;
}

body {
    background-image: url("../imgs/bg.png"), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-blend-mode: multiply;
    background-size: cover;
}

/* ------------------------------------- NAVBAR ------------------------------------- */
nav {
    border-bottom: 3px solid var(--color-3-darker);
}

nav.navbar.bg-body-tertiary {
    background-color: var(--color-3) !important;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.logo-img {
    height: 20%;
    width: 20%;
}

.logo-current-page {
    padding-left: 2rem;
    color: var(--color-5);
}

.logo-current-page:hover {
    color: var(--color-1);
}

.nav-item {
    font-size: large;
}

.nav-link {
    color: var(--color-5);
}

.nav-link:hover {
    color: var(--color-1);
}

/* ------------------------------------- MAIN ------------------------------------- */
.container {
    margin-top: 2rem;
}

.home-page-cont {
    text-align: center;
}

.welcome-info {
    color: var(--color-5);
    background-color: var(--color-1);

    height: 7em;
    width: 18em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-bottom: 1em;

    font-size: larger;

    border: 3px solid var(--color-1-darker);
}

.btn-home-link {
    height: 4em;
    width: 13em;
    font-size: 20px;
    border-radius: 0;
    background-color: var(--color-3);
    border: 3px solid var(--color-3-darker);
    margin-bottom: 4em;
}

.btn-home-link:hover {
    background-color: var(--color-1);
    border: 3px solid var(--color-1-darker);
}

.home-cover-img {
    height: 60%;
    width: 60%;
    margin-bottom: 2em;
}

/* ------------------------------------- FOOTER ------------------------------------- */
footer {
    height: 10em;
    background-color: var(--color-1);
    border-top: 3px solid var(--color-1-darker);
    color: var(--color-3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.logo img {
    width: 100px;
    height: auto;
}

.company-name {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: var(--color-3);
}

.company-name:hover {
    color: var(--color-5);
}

.social-icons a {
    font-size: larger;
    margin: 0 5px;
    color: var(--color-3);
}

.social-icons a:hover {
    color: var(--color-5);
}