body {
    background-image: url("../imgs/bg.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: multiply;
    background-size: cover;
}

/* ------------------------------------- NAVBAR ------------------------------------- */
nav {
    border-bottom: 1px black solid;
}

nav.navbar.bg-body-tertiary {
    background-color: white !important;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.logo-img {
    height: 20%;
    width: 20%;
}

.logo-current-page {
    padding-left: 2rem;
}

.logo-current-page:hover {
    color: red;
}

.nav-item {
    font-size: large;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: red;
}

/* ------------------------------------- MAIN ------------------------------------- */
.container {
    margin-top: 2rem;
}